@model NMMBTrails.Models.Trail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="col-md-6">
    <h4>Trail</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Longitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.County)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.County)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.URL)
        </dt>

        <dd>
            <a href="@Html.DisplayFor(model => model.URL)">@Html.DisplayFor(model => model.URL)</a>
</dd>
    </dl>
</div>

<div class="col-md-6" id="map_canvas" style="height:400px"></div>

@if ((string)HttpContext.Current.Session["Permission"] == "Admin")
{
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
else
{
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
}

<script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyCuLNIGdQlLxGfis0U_TxXgjdaluJa8dxA&sensor=false"></script>
<script type="text/javascript">

    function initialize() {
        var lat = @Html.Raw(Json.Encode(Model.Latitude));
        var lon = @Html.Raw(Json.Encode(Model.Longitude));
        var name = '@Html.Raw(Json.Encode(Model.Name))';

        var mapOptions = {
            center: new google.maps.LatLng(lat, lon),
            zoom: 10,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
        var latlng = new google.maps.LatLng(lat, lon);
        var marker = new google.maps.Marker({
            position: latlng,
            map: map,
            title: name
        });
    }

    window.onload = function(){
        initialize();
    }

</script>