@model IEnumerable<NMMBTrails.Models.Trail>

@{
    ViewBag.Title = "Trails";
}

<h2>View</h2>
<h4>@ViewBag.SearchCriteria</h4>
<h4>@ViewBag.CountyFilter</h4>

@using (Html.BeginForm())
{
    <div id="FilterSearch" class="form-horizontal">
        <div class="form-group">
            @Html.Label("Search by Name", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.TextBox("searchCriteria", null, new { @class = "form-control" })
        </div>
        <div class="form-group">
            @Html.Label("Filter by County", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.DropDownList("countyFilter", new SelectList(@ViewBag.Counties), "All Counties", new { @class = "form-control" })
        </div>
        <div class="form-group">
            <input type="submit" value="Search" class="btn col-md-2 col-md-offset-2" />
            <input type="button" value="Reset Filters" onclick="location.href='@Url.Action("Index", "Trail")'" class="btn col-md-2 col-md-offset-2" />
        </div>
    </div>
}

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.ActionLink(@Html.DisplayNameFor(model => model.Name).ToString(), "Index", new { sortOrder = ViewBag.NameSort })
            <span class="glyphicon @ViewBag.NameSortArrow"></span>
        </th>
        <th>
            @Html.ActionLink(@Html.DisplayNameFor(model => model.County).ToString(), "Index", new { sortOrder = ViewBag.CountySort })
            <span class="glyphicon @ViewBag.CountySortArrow"></span>
        </th>
        <th>
            Information
        </th>
        <th>
            @Html.DisplayNameFor(model => model.URL)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.County)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id = item.Id })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.URL)
        </td>
        <td>
            <!--@Html.ActionLink("Edit", "Edit", new { id=item.Id })-->
            <!--@Html.ActionLink("Delete", "Delete", new { id=item.Id })-->
        </td>
    </tr>
}

</table>
